.forecast-card {
    background-color: rgba(0, 0, 0, .4);
    border: 1px solid white;
    border-radius: 1rem;
    width: 10rem;
    height: 12rem;
    padding: .5rem;
    overflow: hidden; /*revisar*/
    display: grid;
    grid-template-rows: 20% 80%;
}
.forecast-card--day{
    text-align: center;
}
.forecast-card--details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.forecast-card--details-icon {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.forecast-card--details-icon img {
    width: 4.5rem;
}
.forecast-card--details-icon p {
    font-size: 1.25rem;
}
.forecast-card--details-info p {
    text-align: center;
}